Source: qorx
Section: devel
Priority: optional
Maintainer: Marvin Sarreal Villanueva <marvin@orin.work>
Build-Depends: debhelper-compat (= 13), cargo, rustc
Standards-Version: 4.7.0
Homepage: https://github.com/bbrainfuckk/qorx
Rules-Requires-Root: no

Package: qorx
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Agnostic language and runtime for local context resolution
 Qorx is a provider-agnostic programming language and local runtime for context resolution.
